<div id="home-content">
	<h1 class="title"> Contact Us </h1>
	<div id="showtheatre-content">
		<div id="showtheatre-info">
			<ul>
				<p><%=mail_to "support@flavu.com"%></p>
			</ul>
		</div>
	</div>
</div>