<html>
<head>

<%if (!session[:auth] && !session[:guest_auth])%>
<meta http-equiv="refresh" content="0; url=/cover"> 

<%else%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


	<title></title>
  <%= javascript_include_tag "bootstrap-carousel" %>

<script type="text/javascript">
$('.carousel').carousel({
	interval: 2000
	, pause: 'hover'

})
  

</script>

<% unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<% end %>
</head>
<body>



<!--<div id="main" class="group" role="main">-->
	<div id="slider">
		<div id="content">
			<div id="myCarousel" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item" id = "slider">
			    	<img src="/assets/iron-man-3.jpg" alt>
			    </div>
			    <div class="item" id="slider">    	
			    	<img src="/assets/hulk.jpg" alt>
				</div>
			    <div class="item" id="slider">
			    	<img src="/assets/captain-america.jpg" alt>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>


	

	<div id="home-content">
		<div id="movies">
			<h1> Movies </h1>
			<div id="nowshowing">
				<div class="group">
				<% @rm['movies'].each do |movie| %> 
        		<% if(movie['photos'].length >0) %>
          			<%photo = movie['photos'].first%>
          			<div class="movie-items">
            		<img width="140" height="210" src="<%= photo['url']%>">
            		<h3><%= movie['title'] %></h3>
                    </div>
        <%end%>
        <%end%>
        		</div>

			</div>
		</div><!--movies-->
	</div><!--home-content-->

<!--</div>main-->

<%end%>



</body>
</html>
