<%if (!session[:auth] && !session[:guest_auth])%>
<meta http-equiv="refresh" content="0; url=/cover"> 

<%else%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Easy Slider jQuery Plugin Demo</title>

	
	
</head>
<body>

<div id="container">
	<div id="content">
		<div id="slider" >
			<ul>				
				<li><a href="http://templatica.com/preview/30"><img src="/assets/01.jpg" alt="Css Template Preview" /></a></li>
				<li><a href="http://templatica.com/preview/7"><img src="/assets/02.jpg" alt="Css Template Preview" /></a></li>
				<li><a href="http://templatica.com/preview/25"><img src="/assets/03.jpg" alt="Css Template Preview" /></a></li>
				<li><a href="http://templatica.com/preview/26"><img src="/assets/04.jpg" alt="Css Template Preview" /></a></li>
				<li><a href="http://templatica.com/preview/27"><img src="/assets/05.jpg" alt="Css Template Preview" /></a></li>			
			</ul>
		</div>
	</div>
</div>



<div><h11>Welcome <%=session['username']%> </h11>
</div>

</div>
<%end%>
</body>
</html>
