<html>
<body>

	<div id="home-content">
		<div id="movies">
			<h1> Movies Reviews </h1>
			<div id="nowshowing">
				<div class="group">
					<% @rm['movies'].each do |movie| %> 
						<div class="movie-items1">
							<% if(movie['photos'].length >0) %>
	                    	<%photo = movie['photos'].first%> 
	                    		<%=link_to :action=>"showreview" , :controller=>"static_pages" , :review => movie['title'] ,:reviewid=>movie['id'] do%>
	                          		<div class="movie-items1">
	                            		<img src="<%=photo['url']%>">             
	                            		<%=movie['title']%>
	                          		</div>
	                        	<%end%>
	                  		<%elsif movie['photos'].length==0%>
	                     		<%= link_to image_tag(@poster ,:class =>'img-rounded') +"#{movie['title']}" , {:controller => "static_pages" ,:action => "showreview" ,:review => movie['title'],:reviewid=>movie['id']}  %>
	                  		<%end%>    
	                  	</div>    				
        			<%end%><!--rmloop-->
        		</div>
			</div>
		</div><!--movies-->
	</div><!--home-content-->

<!--</div>main-->



</body>
</html>
