<div id="theatre-content">
	<div id="content">
		<h1 class="title"> <%=@title%> Review </h1>
		<div id="theatre-show"
			<ul style="list-style:none;">

					<%(0..@i).each do |j|%>
	      				<%=@doc.css('.articleBody p')[j].content%>
    				<%end%>
			</ul>
		</div>
	</div>
</div>

