<div id="theatre-content">
	<div id="content">
		<div id="theatre-show">	
			<%if flash[:notice]%>
				<div class="alert alert-success">
					<p><%= flash[:notice] %></p>
				</div>
			<%end%>
		</div>
	</div>
</div>