	<div>
	<a href = "/home" class="btn btn-large disabled">Enter the website</a>
	<a href = "/signin" class="btn btn-large disabled">Sign In</a>
	<a href = "/register" class="btn btn-large disabled">Sign Up</a>
</div>