// Place all the styles related to the cover controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";
@media (min-width: 1200px) {

  .container {
    width: 100%;
  }


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 70%;
  }

  img {
    width: 100%;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .container {
    width: 70%;
  }

  img {
    width: 100%;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .container {
    width: 40%;
    height: 40%
  }

  img {
    width: 100%;
  }
}
body {
	background-color: gray;
}

.wrapper {
	margin: 0 auto;
	width: 1024px;
	position: relative;
}

#header {
margin-top: 50px;
margin-bottom: 2em;
}

#logo {
	float: left;
	margin-bottom: 30px;
}
#login-menu {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

#password1, #login1 {
	display: inline;
	padding-right: 10px;
	width: 140px;
	label {
		display: inline;
		width: 140px;
	}
}


.content {
	clear: both;
	margin: 0 auto;
}

#cover-content {
	background-color: black;
	width: 1024px;
	height: 500px;
	margin-bottom: 1em;
	text-align: center;
	/*background-image: ;*/
	iframe {
		margin-top: 60px;
	}
}
#bottom-content {
	float: right;
	
}
