@import "bootstrap";
@import "bootstrap-responsive";

/* Large desktop */
@media (min-width: 1200px) {

  .container {
    width: 100%;
  }


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 70%;
  }

  img {
    width: 100%;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .container {
    width: 70%;
  }

  img {
    width: 100%;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .container {
    width: 40%;
  }

  img {
    width: 100%;
  }
}



table {
  border-spacing: 20px;
  border-collapse: separate;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #D3D3D3;
  background-image: url('/assets/iron-man3-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#head {
  float: left;
  padding: 22px 17px 10px 15px;
  color: white;
}

#foot {
  background-color: rgba(0,0,0,.85);
  padding: 25px 25px 18px;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  line-height: 1.8em;
  z-index: 0;
  position: relative;
}

#copy {
  p {
    color: white;
  }
}
#logo { 
  float: left;
  width: 176px;
  margin: 0;
  color: white;
}


#wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

#mainnav {
  float: right;
  text-align: right;
  padding-top: 32px;
  font: 20px DBHelvethaicaX55Regular,san-serif;
  li {
    display: inline;
    margin-left: 44px;
    color: white;
  }
  a {
    color: #eacb88;
    text-shadow: 1px 1px 0 rgba(0,0,0,.23);
  }
  a:hover {
    color: #eacb88;
  }
}
#quick-showtime {
  clear: both;
  height: 46px;
  border-radius: 5px 3px 0 0;
  background-image: url('/assets/bar-bg.png');
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  height: 46px;
  h1 {
    margin: 0;
    /*text-indent: 300%;*/
    white-space: nowrap;
    overflow: hidden;
    /*background-image: url(images/quick-head.png);*/
    width: 237px;
    height: 46px;
    border-radius: 3px 0 0 0;
    float: left;
    color: white;
  }
}

#quick-showtime-form {
  font-family: 'DBHelvethaicaX55Regular';
  font-size: 22px;
  padding: 6px 0 0 20px;
  float: left;
  width: 680px;
  position: relative;
  height: 40px;
  overflow: hidden;
}

#quick-movies, #quick-theatres {
  margin-right: 15px;
  width: 260px;
  float: left;
  border-radius: 3px;
  height: 31px;
}

#movie, #theatre{
  display: block;
  padding: 0 30px 0 12px;
  width: 260px;
  float: left;
  border-radius: 3px;
  height: 31px;
  border: 1px solid #9d6f0e;
  box-shadow: 0 1px 0 #ddc48d;
  /*background: url('/assets/quick-select.png') right top;*/
  background-color: #ffeec8;
  overflow: hidden;
  text-shadow: 0 1px 0 #f2e2c1;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style: none;
  margin-left: 10px;

}
#main {
  background-color: #eee;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  z-index: 1;
  position: relative;
  min-height: 700px;
  overflow: auto;
}

#slider {
  width: 1024px;
  height: 320px;
}

.carousel-indicators {
  top: 105%;
  left: 50%;
  li {
    background-color: black;

  }
 }

#side {
  width: 260px;
  float: left;
  margin: 40px 26px 0;
  h1 { 
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    text-shadow: 0 1px 0 #fff;
  }
}

#side-login-box ,#side-buddy-box{
  clear: both;
  border-radius: 3px;
  margin: 0 0 25px;
  box-shadow: 0 1px 3px rgba(25,25,25,.4);
  background-color: #fff;
  overflow: auto;
}

#home-content {
  float: right;
  margin: 40px 26px 0 0;
  width: 686px;
  h1 {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    text-shadow: 0 1px 0 #fff;
  }
}

#nowshowing {
  clear: both;
  border-radius: 3px;
  padding: 7px 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(25,25,25,.5);
  margin-bottom: 26px;
  min-height: 600px;
  overflow: auto;
}

#nowshowing1 {
  clear: both;
  border-radius: 3px;
  padding: 7px 10px;
  background-color: #eee;
  /*box-shadow: 0 1px 3px rgba(25,25,25,.5);*/
  margin-bottom: 26px;
  min-height: 600px;
  overflow: auto;
}

.nav-tabs {
  background-color: #eee;
}

.tabbable {
  background-color: #fff;
  li {
  float: right;
  }
}

#movies .group {
  padding: 13px 13px 10px;

}

.movie-items{
  float: left;
  padding: 5px 5px 20px 5px;
  margin: 3px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  width: 142px;
  height: 274px;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  h3 {
    color: #333;
    margin: 0;
    font: 15px/1em sans-serif;
    padding-left: 2px;
  }
}

#button2 {
  margin-top: 10px;
}

.navbar {
  padding: 0 0 0 0;
}




h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: black;
}

h3 {
  font-size: 16px;
  text-align: center;
  margin: 0;
  height: 35px;
  padding: 7px 7px 7px 7px;
  text-shadow: 0 1px 0 #d7d7d7;

}

h11 {
  color:black;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0px;
  text-shadow: 0 1px 0 #fff;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}



.container {
	width: 1024px;
}

div.hidden{
	display:none;
}



#f1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#login-bar {
  padding: 5px 10px 0px 14px;
}

#login-button {
  padding: 5px 25px 10px 0;
  float: right;
}

#remember-but {
  padding: 8px 25px 10px 18px;
  float: left;
}

h4.title {
  
  margin: 0px;
  font-size: 28px;
  color: #9e0000;
}

#showmovie-content{
  border-radius: 3px;
  padding: 23px;
  width: 640px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(25,25,25,.5);
  margin-bottom: 25px;
  min-height: 400px;
  margin-top: 20px;
  overflow: auto;
}

#trailer {
  margin: 0 0 20px;
  overflow: hidden;
  height: 360px;
  width: 640px;
}

#movie-pic {
  padding-top: 20px;
  float: left;
  
}
#movie-details {
  margin-left: 20px;
  padding-top: 28px;
  padding-right: 0;
  float: right;
  #content {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(25, 25, 25, 0.5) ;
    width:450px;
    height: 420px;
  }
  h1{
    font-size: 18px;
    color: #9e0000;
    margin: 0;
    text-align: left;
    width: 100%;
  }
    
  h3{
    font-size: 14px;
    margin:0;
    color: #333;
    text-align: left;
    padding-left: 10px;
  }
  p{
    font-size: 14px;
    margin-top: -6px;
    margin-bottom:2px;
    padding-left: 11px;
  }
}

#movie-cat {
  position: relative;
  overflow: auto;
}