@import "bootstrap";
@import "bootstrap-responsive";

/* Large desktop */
@media (min-width: 1200px) {

  .container {
    width: 100%;
  }


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 70%;
  }

  img {
    width: 100%;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .container {
    width: 70%;
  }

  img {
    width: 100%;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .container {
    width: 40%;
  }
  img {
    width: 100%;
    height: 100%;
    }
}


h1.title {
  margin-bottom: 10px;
  padding-left: 5px;
  line-height: .8em;
  text-shadow: 0 1px 0 #fff;
  font-size: 21px;
  color: #9e0000;
  font-weight: normal;
  font-family: 'DBHelvethaicaX55Regular',sans-serif;
}

h1 {
  margin-bottom: 10px;
  padding-left: 5px;
  line-height: .8em;
  text-shadow: 0 1px 0 #fff;
  font-size: 21px;
  font-weight: normal;
  font-family: 'DBHelvethaicaX55Regular',sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #000;
  background-image: url('/assets/iron-man3-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

#head {
  float: left;
  padding: 22px 17px 10px 15px;
  color: white;
}

#foot {
  background-color: rgba(0,0,0,.85);
  padding: 25px 25px 18px;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  border-radius: 0 0 3px 3px;
  font-size: 12px;
  line-height: 1.8em;
  z-index: 0;
  position: relative;
}

#copy {
  p {
    color: white;
  }
}
#logo { 
  float: left;
  width: 176px;
  margin: 0;
  color: white;
}


#wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

#mainnav {
  float: right;
  text-align: right;
  padding-top: 32px;
  font: 20px DBHelvethaicaX55Regular,san-serif;
  li {
    display: inline;
    margin-left: 44px;
    color: white;
    a.current {
      color: #eacb88;
    }
  }
  a {
    color: #ccc;
    text-shadow: 1px 1px 0 rgba(0,0,0,.23);
  }
  a:hover {
    color: #999;
    text-decoration: none;
  }
}
#quick-showtime {
  clear: both;
  height: 46px;
  border-radius: 5px 3px 0 0;
  background-image: url('/assets/bar-bg.png');
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  height: 46px;
  h1 {
    margin: 0;
    /*text-indent: 300%;*/
    white-space: nowrap;
    overflow: hidden;
    /*background-image: url(images/quick-head.png);*/
    width: 237px;
    height: 46px;
    border-radius: 3px 0 0 0;
    float: left;
    color: white;
  }
}

#quick-showtime-form {
  font-family: 'DBHelvethaicaX55Regular';
  font-size: 22px;
  padding: 6px 0 0 20px;
  float: left;
  width: 680px;
  position: relative;
  height: 40px;
  overflow: hidden;
}

#quick-movies, #quick-theatres {
  margin-right: 15px;
  width: 260px;
  float: left;
  border-radius: 3px;
  height: 31px;
}

#movie, #theatre{
  display: block;
  padding: 0 30px 0 12px;
  width: 260px;
  float: left;
  border-radius: 3px;
  height: 31px;
  border: 1px solid #9d6f0e;
  box-shadow: 0 1px 0 #ddc48d;
  /*background: url('/assets/quick-select.png') right top;*/
  background-color: #ffeec8;
  overflow: hidden;
  text-shadow: 0 1px 0 #f2e2c1;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style: none;
  margin-left: 10px;

}
#main {
  background-color: #eee;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  z-index: 1;
  position: relative;
  min-height: 700px;
  overflow: auto;
}

#slider {
  width: 1024px;
  height: 320px;
}

.carousel-indicators {
  top: 105%;
  left: 50%;
  li {
    background-color: black;

  }
 }

#side {
  width: 260px;
  float: left;
  margin: 40px 26px 0;
  h1 { 
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: .8em;
    text-shadow: 0 1px 0 #fff;
    font-size: 21px;
    color: #9e0000;
  }
}

#side-login-box ,#side-buddy-box ,#side-setting-box{
  clear: both;
  border-radius: 3px;
  margin: 0 0 25px;
  box-shadow: 0 1px 3px rgba(25,25,25,.4);
  background-color: #fff;
  overflow: auto;
}

#home-content ,#setting-content ,#theatre-content{
  float: right;
  margin: 40px 26px 0 0;
  width: 686px;
  h1 {
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: .8em;
    text-shadow: 0 1px 0 #fff;
    font-size: 21px;
    color: #9e0000;
  }
}

#nowshowing {
  clear: both;
  border-radius: 3px;
  padding: 7px 0px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(25,25,25,.5);
  margin-bottom: 26px;
  min-height: 600px;
  overflow: auto;
}

#nowshowing1 {
  clear: both;
  border-radius: 3px;
  padding: 0;
  background-color: #eee;
  /*box-shadow: 0 1px 3px rgba(25,25,25,.5);*/
  margin: 0;
  min-height: 600px;
  overflow: auto;
}

.nav-tabs {
  background-color: #eee;
}

.tabbable {
  background-color: #fff;
  li {
  float: right;
  }
}

#movies .group {
  padding: 13px 13px 10px;

}

.movie-items{
  float: left;
  padding: 0px;
  margin: 0px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  width: 162px;
  height: 280px;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  h3 {
    color: #333;
    margin: 0;
    font: 15px/1em sans-serif;
    padding-left: 2px;
  }
  img {
    width: 150px;
  }
}

.movie-items1{
  float: left;
  padding: 0px;
  margin: 0px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  width: 158px;
  height: 275px;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  h3 {
    color: #333;
    margin: 0;
    font: 15px/1em sans-serif;
    padding-left: 2px;
  }
  a {
    color: black;
  }
  img {
    width: 150px;
    height: 210px;
  }
}
.movie-items1:hover {
background-color: #ddd;
border: 1px solid #ccc;
}

.movie-items2{
  float: left;
  padding: 0px;
  margin: 0px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  width: 158px;
  height: 315px;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}

#button2 {
  margin-top: 7px;
}

.navbar {
  padding: 0 0 0 0;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: black;
}

h3 {
  font-size: 16px;
  text-align: center;
  margin: 0;
  height: 35px;
  padding: 7px 7px 7px 7px;
  text-shadow: 0 1px 0 #d7d7d7;

}

h11 {
  color:black;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0px;
  text-shadow: 0 1px 0 #fff;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.container {
	width: 1024px;
}

div.hidden{
	display:none;
}



#f1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#login-bar {
  padding: 5px 10px 0px 14px;
}

#login-button {
  padding: 5px 25px 10px 0;
  float: right;
}

#remember-but {
  padding: 8px 25px 10px 18px;
  float: left;
}
/*showmovie*/
#showmovie-content{
  border-radius: 3px;
  padding: 23px;
  width: 640px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(25,25,25,.5);
  margin-bottom: 25px;
  min-height: 400px;
  margin-top: 20px;
  overflow: auto;
  li {
    list-style: none;
    margin: 1px;
  }
}

#trailer {
  margin: 0 0 20px;
  overflow: hidden;
  height: auto;
  width: auto;
}

#movie-pic {
  padding-top: 10px;
  float: left;
  
}
#movie-details {
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 0;
  float: right;
  #content {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(25, 25, 25, 0.5) ;
    width:450px;
    height: 420px;
  }
  h1{
    margin-bottom: 10px;
    padding: 10px 0px 0px 10px;
    line-height: .8em;
    text-shadow: 0 1px 0 #fff;
    font-size: 21px;
    color: #9e0000;
  }
    
  h3{
    font-size: 14px;
    margin:0;
    color: #333;
    text-align: left;
    padding-left: 10px;
  }
  p{
    font-size: 14px;
    margin-top: -6px;
    margin-bottom:2px;
    padding-left: 11px;
    display: inline-table;
  }
}

#movie-cat {
  position: relative;
  overflow: auto;
}

#theatre-detail {
  float: left;
  margin: 15px 0px 0px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(25, 25, 25, 0.5);
  width: 100%;
  height: 100%;
  #content {
    
  }
  .cinema-name {
    margin: 0 0 10px;
    border-radius: 3px;
    color: #febf34;
    padding: 4px 15px;
    background: url('/assets/title.png') repeat-x #2a2a2a;
    text-align: left;
  }
}

#result-today {
  display: block;
}

#result-item {
  border: 1px solid #bbb;
  margin: 0 0 10px;
  background: url('/assets/theater-bg.png') repeat-x #7c7d7c;
  border-radius: 3px 4px 4px 3px;
  .movie-name {
    float: left;
    width: 90px;
    text-align: right;
    padding: 10px 0 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.51);
    font-size: 20px;
  }
  #result-info {
    margin-left: 100px;
    border-radius: 0 3px 3px 0;
    background-color: #d3d3d3;
    #item {
      list-style: none;
      width: 100%;
      #picture {
        float: left;
        padding: 10px;
      }
      p.showtime {
        overflow: hidden;
        text-shadow: 0 1px 0 #f2e2c1;
        color: black;
        border: 1px solid #444;
        box-shadow: 0 1px 0 #9d6f0e;
        background-image: url('/assets/quick-select.png');
        padding: 0px 7px 5px 7px;
      }
    }
    .info {
      padding: 5px;
      height: 150px;
      li {
        list-style: none;
        float: left;
        padding-right: 10px;
      }
      p {
      }
      h3 {
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        height: 10px;
        text-align: left;
        font-weight: normal;
      }
    }
  }
}

#setting-detail {
  clear: both;
  border-radius: 3px;
  padding: 7px 0px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(25,25,25,.5);
  margin-bottom: 26px;
  min-height: 600px;
  overflow: auto;
  h1 {
    margin: 0;
    font-size: 20px;
    text-decoration: none;
  }
}

#setting-head {
  height: 50px;
  width: 250px;
}
#setting_to_left {
  float: left;
}

#setting_to_right {
  float: right;
  text-align: right;
}

#setting_to_center {
  margin-left: 200px;
  font-weight: bold;

}


.inline_label {
  display:inline;
  padding-right: 5px;
}

.setting-text {
  width: 160px;
}

/*theatres page*/
.theatres-filters {
  float: left;
  width: 290px;
  text-shadow: 0 1px 0 #fff;
  h2 {
    text-align: left;
    padding: 0 10px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #666;
    background: url('/assets/theatres-list.png') no-repeat right top;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #fff;
  }
}

.by-liked, .by-near, .by-unliked {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 290px;
  ul {
    list-style: none;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    a:hover {
      text-decoration:none;
      color: #999;
    }
    a {
        color: #333;
    }
    li {
      padding-left: 18px;
      line-height: 32px;
    }
    li.active {
      background: url('/assets/theatres-list-active.png') no-repeat right center;
    }
  }
}

#theatre-show {
  border-radius: 3px;
  padding: 23px;
  width: 640px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(25,25,25,.5);
  margin-bottom: 48px;
  min-height: 400px;
  element.style {
    left: 595px;
  }
}

.theatres-info {
  float: right;
  width: 300px;
  .tab-pane {
    display: none;
  }
  .active {
    display: block;
  }
  h2 {
    display: block;
    font-size: 16px;
    margin: 0 0 6px 0;
    color: #9e0000;
    text-align: left; 
  }
  ul {
    display: block;
    margin:0;
    li {
      line-height: 18px;
      position: relative;
      list-style: none;
      padding: 0;
      font-size: 14px;
      margin: 2px;
    }
  }
}

.group {
  zoom :1;  
}
